<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="com.foo.bar" level="DEBUG" />
    
    <!-- <logger name="com.arjuna.ats" level="TRACE" />
    <logger name="org.modeshape.jcr.txn.Transactions" level="TRACE" /> -->
    
    <logger name="org.modeshape.jcr.clustering.ClusteringService" level="WARN" />
    <logger name="org.modeshape.jcr.bus" level="WARN" />
    <logger name="org.modeshape.jcr.clustering" level="WARN" />
    <logger name="org.jgroups" level="WARN" />
</configuration>